.ht_studies_empty > *:not(.hts), .hts_hide {
    display: none;
}

.hts-body h2 {
    margin-top: 1.5em;
}

.hts-study {
    margin: 1.2em 0;
    padding: 1em 1em;

    box-shadow: 0 0 5px #888;
    border: solid 1px #ccc;
    border-radius: 0.2em;
}

.hts-study-head {
    display: flex;
}

.hts-body h3 {
    margin-top: 0;
    width: 100%;
}

.study-notify {
  padding: 0 8px 0 0;
  white-space: nowrap;
  font-size: 1em;
  opacity: 0;
  visibility: hidden;

  transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
}

.study-notify.visible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.success {
  color: #683;
}

.warning {
  color: #946c00;
}

 /* The switch - the box around the slider */
 .hts-switch {
    position: relative;
    display: inline-block;
    width: 30px;
    min-width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .hts-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .hts-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .hts-slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .hts-slider {
    background-color: #79a777;
  }
  
  input:focus + .hts-slider {
    box-shadow: 0 0 1px #79a777;
  }
  
  input:checked + .hts-slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .hts-slider.round {
    border-radius: 17px;
  }
  
  .hts-slider.round:before {
    border-radius: 50%;
  }


.hts-study-data {
  color: #585858;
}

.hts-study-download-data img {
  width: 1.1em;
  height: 1.1em;
  vertical-align: middle;
  margin-right: 0.4em;
}

  .hts-sidebar .no-user {
    text-align: center;
    font-style: italic;
  }

  /* Connect button */
  .hts-sidebar form {
    text-align: center;
  }
  
  .hts-sidebar .hts-login-button {
    background-image: none;
    text-indent: 0;
  }
