<div class="hts-sidebar">

    {{#if user}}
    <p>{{text.sidebarUserLabel}} <strong>{{user.username}}</strong></p>
    <p>{{text.sidebarTeamLabel}} <strong>{{team.name}}</strong></p>

    {{else}}

    <p class="no-user">{{text.sidebarNoUser}}</p>

    <form action="https://htstudies.alwaysdata.net/connect" method="get">
        <input type="hidden" name="callback_url" value="{{callback.url}}">
        <input type="hidden" name="callback_hash" value="{{callback.hash}}">
        <button type="submit" class="loginButton userloginButton hts-login-button">{{text.sidebarLoginButton}}</button>
    </form>

    {{/if}}

</div>